<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Frijole|Noto+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/style.css" />


</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/webcam.js"></script>
    <script src="/main.js"></script>
    <script>
        var socket = io.connect('http://localhost:1337');
        socket.on('connect', function (data) {
            console.log("connect",data);
            // GREEN LIGHT - LOCK AND WALK
            // socket.emit('my other event', { my: 'data' });
        });
        socket.on('connect_error', function (data) {
            console.log("connect_error",data);
            // CONNECTION LOST - BARK!!!
            // socket.emit('my other event', { my: 'data' });
        });
        socket.on('message', function (data) {
            console.log("message",data);
            // socket.emit('my other event', { my: 'data' });
        });
    </script>
</body>
</html>
