section{
	min-height: 100vh;
}

a{
	&:hover{
		text-decoration:none;
	}
	&:focus{
		text-decoration: none;
	}
	&:active{
		text-decoration: none;
	}
	&:visited{
		text-decoration: none;
	}
}
.section-content{
	padding: 60px;
}

.title{
	text-align: center;
	font-weight: bolder;
	color: #F5E7C3;
	text-shadow: 2px 2px $blue;
}

#about{
	background-color: $grey-tan;
	.section-content{
		position: relative;
	}
	h1{
		margin-top: 50px;
		margin-bottom: 40px;
	}
	p {
	    text-align: justify;
	    font-size: 22px;
	    font-weight: 300;
	    float: left;
	    vertical-align: middle;
	    padding: 0;
	  }
	img{
	  	width: 100%;
	  }	
	 .brand{
		font-family: 'Bitter', cursive;
		font-size: 100px;
		text-shadow: 2px 2px $light-tan;
		margin-top: 0;
		text-align: center;
	}
	.dog{
		margin-top: -30px;
	}
}


#friends{
background-color: $red-tan;
}
.api{
	text-align: center;
	img{
		width: 200px;
		margin: 0 auto 20px;
	}
}
.bg-left{
	width: 60%;
	position: absolute;
	left: -20px;
	img{
		width: 100%;
	}
}
.center{
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}
#team{
	text-align: center;
	h2{
		text-align: center;
	}
}

.member{
	text-align: center;
	margin-bottom: 20px;
	color: $light-tan;
	text-shadow: 2px 2px $blue;
	img{
		border-radius: 50%;
		width: 100px;
		display: inline;
	}
	a{
		color: $light-tan;
		text-shadow: 2px 2px $blue;
		&:hover{
			color: $light-tan;
			text-shadow: 2px 2px $blue;
		}
	}
}

hr{
	border-top: 3px solid $dark-blue;
	width: 20%;
	background-color: $light-blue;
	height: 1px;
}

.top20{
	margin-top: 20px;
}