* {
  box-sizing: border-box;
}

$blue: #008AAE;
$dark-blue: #003F5D;
$light-blue: #008BAF;
$light-tan: #F5E7C3;
$grey-tan: #CAC3BB;
$red-tan: #8a5a59;



body {
  background: white;
  h1, h2, h3, p{
    font-family: 'Noto Sans', sans-serif;
  }
  button{
    border-radius: 0px !important;
    &:focus{
      outline: none !important;
      text-decoration: none;
    }
  }

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  width: 100%;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
