* {
  box-sizing: border-box;
}

body {
  background: white;
  h1, h2, h3, p{
    font-family: 'Noto Sans', sans-serif;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  width: 100%;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
