<section id="watch">
<div class='section-content'>
    <img src='/images/dog.jpg' class='watch-dog'></img>
    <button ng-click='guard()' ng-hide='watch' class='btn guard-btn'>Guard</button> <button ng-click='watch = false' ng-show='watch' class='btn guard-btn'>Sit</button>

    <video id="v" width="320" height="240"></video>

    <canvas id="c" width="320" height="240"></canvas>

    <div class="col-md-12">
		<div class="btn-group" role="group">
			<!-- <button type="button" class="btn btn-default" id="music-loop" ng-click='loop()'>
				<i class="fa fa-repeat"></i>
			</button> -->
			<button type="button" class="btn btn-default" id="music-play" ng-click='play()'>
		  		<i class="fa fa-play"></i>
			</button>
			<button type="button" class="btn btn-default" id="music-stop" ng-click='stop()'>
				<i class="fa fa-stop"></i>
			</button>
			<button type="button" class="btn btn-default" id="music-fadein" ng-click='fadeIn()'>
				<i class="fa fa-sign-in"></i>
			</button>
			<button type="button" class="btn btn-default" id="music-fadeout" ng-click='fadeOut'>
				<i class="fa fa-sign-out"></i>
			</button>

		</div>
		<input id="volume" type="range" min="0" max="100" value="70">
	</div>
</div>
</section>
